body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin-top: 150px;
  padding: 0;
  animation: backgroundAnimation 10s infinite alternate; /* Add background animation */
}

@keyframes backgroundAnimation {
  0% {
    background-color: #f0f0f0;
  }
  25% {
    background-color: #ffcc00;
  }
  50% {
    background-color: #ff6666;
  }
  75% {
    background-color: #66ff66;
  }
  100% {
    background-color: #f0f0f0;
  }
}

#main {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333333;
}

#cat-photo-container {
  margin-top: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

#new-cat-button {
  background-color: #009688;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
  margin-left: 50%;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
}

#new-cat-button:hover {
  background-color: #007d71;
}

@media (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
}